/* Desktop (col-lg) 992px+ */
/* @media (min-width: 992px) {
} */
/* Desktop e tablets (col-md) 768px a 991px */
/* @media (min-width: 0px) and (max-width: 700px) {
} */
/* tablets (col-sm) 576px a 767px */

/* tablets e Celulares (col) 0px a 767px */

@media (max-width: 900px) {
  .no-mobile {
    display: none;
  }

  .col-one {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }

  .container-menu {
    width: 450px;

    overflow-y: hidden;
    overflow-x: auto;

    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .navbar-toggler-icon {
    padding-top: 5px;
  }

  .navbar-collapse {
    background-color: var(--color-secondary);
    padding: 20px;
    text-align: center;
    border-radius: 40px;
  }

  .navbar-collapse .btn-white {
    margin-top: 20px;
  }

  .navbar-collapse .btn-icon {
    padding-right: 20px;
  }

  .navbar-collapse .btn-icon span.icon {
    display: none;
  }

  .banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .text-banner h1 {
    font-size: 36px;
  }

  .text-banner p {
    font-size: 18px;
  }
  .btn-yellow,
  .btn-white {
    padding: 13px 23px;
    font-size: 18px;
  }

  .btn-icon-left span.icon-left {
    width: 43px;
    height: 43px;
    margin-left: -56px;
  }

  .btn-icon-left {
    padding-left: 63px !important;
  }

  .title {
    font-size: 30px;
  }

  .cardapio {
    margin-top: 300px !important;
    padding-top: 500px !important;
    padding-bottom: 50px;
    gap: 10px;
  }

  .img-produto {
    position: absolute;
    left: 15px;
  }

  .card-item {
    height: 110px;
    width: 240px;

    padding-left: 110px;
    justify-content: center;
    align-items: start;
  }

  .card-item .img-produto img {
    width: 60px;
  }
  .btn-menos {
    margin-left: -1.5rem;
  }

  .title-produto {
    margin-top: 0px !important ;
    margin-left: -1.5rem;
    height: 30px !important;
    width: 90%;
    text-align: left !important;
  }

  .price-produto {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    margin-left: -1.5rem;
    font-size: 22px !important;
  }

  .depoimentos {
    height: 70vh;
  }

  .reserva {
    height: 80vh;
    margin-bottom: 50px;
  }

  .card-secodary {
    padding: 45px;
    border-radius: 50px;
  }

  .container-logo-footer {
    justify-content: center;
  }
  .container-texto-footer p {
    text-align: center;
  }
  .container-redes-footer {
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
  }

  /* .botao-carrinho {
    margin-right: 50px !important;
  } */

  footer {
    background-color: transparent !important;
    width: 100%;
  }

  .modal-full {
    padding: 40px;
  }
  .modal-full .item-carrinho {
    padding-left: 0;
    padding-right: 0;
  }

  .modal-full .img-produto {
    position: relative;
    left: 0;
  }

  .modal-full .img-produto img {
    width: 50px;
  }

  .modal-full .dados-produto {
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
  }
  .modal-full .title-produto,
  .modal-full .price-produto {
    font-size: 16px !important;
  }

  .modal-full .add-numero-itens {
    padding: 2px 10px;
  }

  .modal-full .form-control {
    font-size: 16px;
  }

  .container-cep .form-control {
    padding-right: 50px;
  }
  .container-cep .btn {
    position: absolute;
    right: 25px !important;
    top: 40px !important;
  }
}

@media (max-width: 767px) {
}
